
  <nav class="navbar navbar-expand-lg navbar-dark orange">
    <div class="container">
      <a class="navbar-brand" href="#">Multitest</a>
        <div class="navbar-brand">
            <a href="home">
                <i class="bi bi-bootstrap-fill"></i>
            </a>
        </div>
        <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse nav justify-content-end" [ngbCollapse]="isCollapsed">
        <li class="nav-item">
          <a class="nav-link" routerLink="/calendario" routerLinkActive="active">Calendario</a>
        </li>
      </div>
    </div>
  </nav>