h3 {
    margin: 0 0 10px;
  }

pre {
    background-color: #f5f5f5;
    padding: 15px;
  }

.circle{
  height: 25px;
  width: 25px;
}
.red {
    background-color: #EF9A9A;
}

.verde {
  background-color: #A5D6A7;
}

.yellow {
  background-color: #FFCC80;
}

.orange {
  background-color: #ec6707;
}

.orangem{
  background-color: #ec6707;
  margin-top: 5px;
  color:#f5f5f5
}

.info {
  position:absolute;
  word-wrap: break-word;
  font-size: 14px;
}

